/* ----------------------------------------- */
/*  ROOT                                     */
/* ----------------------------------------- */
:root {
    --bar-dragdrop-size: 15px;

    /* MACROBAR */
    --macrobar-height: 62px;
    --macrobar-button-size: 48px;
    --macrobar-button-img-size: 44px;
    --macrobar-border-color: #000;
    --macrobar-hotbar-visibility: visible;
}

#hotbar {
    visibility: var(--macrobar-hotbar-visibility);
}



/* ############################################################################################################# */
/* ################################################### MACRO BAR ############################################### */
/* ############################################################################################################# */

/* =========================== */
/* TOR2E-MACROBAR-WINDOW       */
/* =========================== */

.tor2e-macrobar-window {
    display: flex;
    flex-direction: row;
    width: auto !important;
    background: transparent;
    height: var(--macrobar-height) !important;
    border: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px #444 inset;
    z-index: 29 !important;
}

.tor2e-macrobar-window .window-content {
    padding: 0 !important;
    background: transparent;
    overflow-x: visible !important;
    overflow-y: visible !important;
    box-shadow: unset;
    border: 0;
    display: flex;
    width: min-content;
}

/* =========================== */
/* WINDOW HEADER               */
/* =========================== */
.tor2e-macrobar-window .window-header {
    /*    display: none;*/
    display: flex;
    flex-direction: row;
    max-width: var(--bar-dragdrop-size) !important;
    border: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-image: url("../images/poignee-macrobar.webp");
    background-size: cover;
}

.tor2e-macrobar-window .window-title {
    display: none !important;
}

.tor2e-macrobar-window .close {
    display: none !important;
}

/* =========================== */
/* TOR2E-MACROBAR              */
/* =========================== */

.tor2e-macrobar {
    display: flex;
    flex-direction: row;
    width: min-content;
    vertical-align: middle;
    margin: 7px 0px 0px 5px;
    border: 0;
}

/* =========================== */
/* TOR2E-MACROBAR-MACROGROUP   */
/* =========================== */
.tor2e-macrobar-macrogroup {
    margin-right: 1em;
    display: flex;
    flex-direction: row;
    border: 0;
}


.tor2e-macrobar-macrogroup-title {
    color: white;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    rotate: 180deg;
    vertical-align: baseline;
    border: 0;
}

/* =========================== */
/* TOR2E-MACROBAR-SOUSBAR      */
/* =========================== */

.tor2e-macrobar-sousbar {
    border: 0;
}


/* ============================== */
/* TOR2E-MACROBAR-POIGNEE-CACHER  */
/* ============================== */
.tor2e-macrobar-poigner-cacher-button {
    max-width: 100% !important;
    min-width: 100% !important;
    max-height: 100% !important;
    min-height: 100% !important;
    align-items: middle;
    display: flex;
    margin: 0;
    padding: 0;
    object-fit: contain;
    border: 0 !important;
    border: none; 
    background: none;
}

.tor2e-macrobar-poigner-cacher-button:hover {
    border: 0 !important;
    outline: 0 !important;
    border: none; 
}

.tor2e-macrobar-poigner-cacher-button:active {
    border: 0 !important;
    outline: 0 !important;
    border: none; 
}

.tor2e-macrobar-poigner-cacher-img {
    border: 0 !important;
    object-fit: scale-down;
    object-position: 50% 0;
    align-items: middle;
    max-width: 25px !important;
    min-width: 25px !important;
    max-height: 42px !important;
    min-height: 42px !important;
}

.tor2e-macrobar-poigner-cacher-form {
    width: 100% !important;
    height: 100% !important;
    border: 0 !important;
}


/* =========================== */
/* TOR2E-MACROBAR-BUTTON       */
/* =========================== */

.tor2e-macrobar-button {
    min-height: var(--macrobar-button-size) !important;
    max-height: var(--macrobar-button-size) !important;
    max-width: var(--macrobar-button-size) !important;
    min-width: var(--macrobar-button-size) !important;
    align-items: middle;
    display: flex;
    margin: 0;
    padding: 0;
    object-fit: contain;
    border: 1px solid black;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 5px #000 inset;
    cursor: pointer;
}

.tor2e-macrobar-button-img {
    border: 0;
    /*object-fit: contain;*/
    object-fit: cover;
    object-position: 50% 0;
    max-width: var(--macrobar-button-img-size) !important;
    min-width: var(--macrobar-button-img-size) !important;
    max-height: var(--macrobar-button-img-size) !important;
    min-height: var(--macrobar-button-img-size) !important;
}

.tor2e-macrobar-button-overlay {
    position: absolute;
    top: 0;
    justify-self: center;
    justify-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    width: 70px;
    max-width: 70px;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 12px;
    text-align: center;
}

.container:hover .overlay {
    opacity: 1;
}

.macrobar-button:hover {
    box-shadow: 0 0 10px #939799ff inset;
    border: 1px solid #ff6400ff;
}

.macrobar-button:active {
    outline: 0;
}

.tor2e-macrobar-button-grow {
    transition: all .2s ease-in-out;
}

.tor2e-macrobar-button-grow:hover {
    transform: scale(1.5);
    background: #6b1915;
    z-index:999;
}

/* ############################################################################################################# */
/* ################################################# CHAT REPORTS ############################################## */
/* ############################################################################################################# */

/* =========================== */
/* TOR2E-CHAT-REPORTS          */
/* =========================== */
.tor2e-chatreports-table {
    border: 0;
}

.tor2e-chatreports-tr {
    margin: 0;
    padding: 0;
    border-bottom: 1 solid;
}

.tor2e-chatreports-titre {
    background-color: #333333;
    text-align: center;
}

.tor2e-chatreports-th {
    font-family: "Sigmika", serif !important;
    font-size: small !important;
    background-color: #333333;
    text-align: center;
    padding: 1px;
    margin: 0;
    text-wrap: nowrap;
}

.tor2e-chatreports-th-name {
    font-family: "Sigmika", serif !important;
    font-size: small !important;
    text-align: left;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    text-wrap: nowrap;
}

.tor2e-chatreports-td {
    vertical-align: middle;
    font-size: medium;
    margin: 0;
    padding: 0;
}

.tor2e-chatreports-td-endurance {
    font-family: "Sigmika", serif !important;
    font-size: small !important;
    text-align: left;
}

.tor2e-chatreports-td-load {
    font-family: "Sigmika", serif !important;
    font-size: small !important;
    text-align: center;
    font-weight: bold;
}

.tor2e-chatreports-td-fatigue {
    font-family: "Sigmika", serif !important;
    font-size: small !important;
    text-align: center;
}

.tor2e-chatreports-td-state {
    font-family: "Sigmika", serif !important;
    font-size: small !important;    
    white-space: nowrap;
    text-align: left;
}

.tor2e-chatreports-td-state-moral {
    font-family: "Sigmika", serif !important;
    font-size: small !important;    
    white-space: nowrap;
    text-align: center;
}

.tor2e-chatreports-endurance-container {
    position: relative;
    vertical-align: middle;
    height: 22px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.tor2e-chatreports-endurance-box-fond {
    position: absolute;
    vertical-align: middle;
    height: 20px;
    margin: 0;
    padding: 0;
    border: 1px solid black;
/*    background-color: grey;*/
    background-color: #3a3333;
    width: 100%;
}

.tor2e-chatreports-endurance-box-endurance {
    position: absolute;
    vertical-align: middle;
    z-index: 9;
    height: 20px;
    border: 1px solid black;
}

.tor2e-chatreports-endurance-box-load {
    position: absolute;
    vertical-align: middle;
    z-index: 10;
    height: 20px;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-right: 2px;
    border-style: solid;
    border-color: red;
    background-color: transparent;
}

.tor2e-chatreports-endurance-box-values {
    position: absolute;
    vertical-align: middle;
    z-index: 11;
    height: 20px;
    width: 100%;
    border: 0;
    background-color: transparent;
    font-size: medium;
}

.tor2e-chatreports-endurance-values {
    font-size: small;
    color: white;
}

/* Images de personnage */
.tor2e-chatreports-character-img {
    max-width: 30px;
    max-height: 30px;
    border: 0;
}


/* Images de status de santé */
.tor2e-chatreports-state-img {
    max-width: 20px;
    max-height: 20px;
}

.tor2e-chatreports-state-img-weary {
    background-color: #3a3333;
}

.tor2e-chatreports-state-img-wounded {
    background-color: darkred;
}

.tor2e-chatreports-state-img-poisoned {
    background-color: olivedrab;
}

.tor2e-chatreports-state-img-miserable {
    background-color: saddlebrown;
}