/* ----------------------------------------- */
/*  ROOT                                     */
/* ----------------------------------------- */
:root {
    /* COLORS */
    --cb-background: rgba(0, 0, 0, 0.4);

    /* ORIENTATION */
    --cb-direction: row;

    /* DIMENSIONS */
    --cb-dragdrop-size: 15px;

    --cb-base-height: 90px;                                                                                     /* Hauteur du token en version maximale (Large) */
    --cb-base-height-variant: 10px;                                                                             /* Ecart par défaut */
    --cb-info-height: 40px;                                                                                     /* Hauteur de la barre d'infos */
 
    --cb-slot-height: calc( var(--cb-base-height) - var(--cb-base-height-variant) + var(--cb-info-height) );    /* Hauteur totale du slot */
    --cb-slot-width: calc( var(--cb-base-height) - var(--cb-base-height-variant) );                             /* Largeur totale du slot */

    --cb-photo-size: calc(var(--cb-base-height) - var(--cb-base-height-variant) - 1px );
    --cb-photo-button-size: calc(var(--cb-photo-size) - 2px );
}


/* ====================================================== */
/* TOR2E-CB-WINDOW                                        */
/* ====================================================== */
.tor2e-cb-window-horizontal {
    display: flex;
    flex-direction: row;
    height: var(--cb-slot-height) !important;
    width: auto !important;
    padding: 0 !important;
    margin: 0 !important;
    background: var(--cb-background);
    box-shadow: 0 0 5px #000 inset;
    border: 0;
    z-index: 29 !important;
}
.tor2e-cb-window-vertical {
    display: flex;
    flex-direction: column;
    height: auto !important;
    width: var(--cb-slot-width) !important;
    padding: 0 !important;
    margin: 0 !important;
    background: var(--cb-background);
    box-shadow: 0 0 5px #000 inset;
    border: 0;
    z-index: 29 !important;
}

.tor2e-cb-window-horizontal .window-content {        /* bonne taille : jusqu'au bout */
    display: flex;
    flex-direction: row;
    height: var(--cb-slot-height) !important;
    padding: 0 !important;
    margin: 0 !important;
    background: transparent;
    overflow-x: visible !important;
    overflow-y: visible !important;
    box-shadow: unset;
}
.tor2e-cb-window-vertical .window-content {        /* bonne taille : jusqu'au bout */
    display: flex;
    flex-direction: column;
    width: var(--cb-slot-width) !important;
    padding: 0 !important;
    margin: 0 !important;
    background: transparent;
    overflow-x: visible !important;
    overflow-y: visible !important;
    box-shadow: unset;
}

/* ====================================================== */
/* WINDOW HEADER                                          */
/* ====================================================== */

.tor2e-cb-window-horizontal .window-header {
    /*    display: none;*/
    display: flex;
    flex-direction: row;
    max-width: var(--cb-dragdrop-size) !important;
    min-width: var(--cb-dragdrop-size) !important;
    padding: 0 !important;
    margin: 0 !important;
    border: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-image: url("../images/poignee-macrobar.webp");
    background-size: cover;
}
.tor2e-cb-window-vertical .window-header {
    display: flex;
    flex-direction: row;
    max-height: var(--cb-dragdrop-size) !important;
    min-height: var(--cb-dragdrop-size) !important;
    padding: 0 !important;
    margin: 0 !important;
    border: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-image: url("../images/poignee-macrobar.webp");
    background-size: cover;
}

.tor2e-cb-window-horizontal .window-title {
    display: none !important;
}
.tor2e-cb-window-vertical .window-title {
    display: none !important;
}

.tor2e-cb-window-horizontal .close {
    display: none !important;
}
.tor2e-cb-window-vertical .close {
    display: none !important;
}

/* ====================================================== */
/* TOR2E-CB                                     */
/* ====================================================== */
.tor2e-cb-horizontal {
    display: flex;
    flex-direction: row;
    width: min-content;
    height: var(--cb-slot-height) !important;
    margin: 0px 0px 0px 0px;
    text-align: center;
    background: var(--cb-background);
}
.tor2e-cb-vertical {
    display: flex;
    flex-direction: column;
    height: min-content;
    width: var(--cb-slot-width) !important;
    margin: 0px 0px 0px 0px;
    text-align: center;
    background: var(--cb-background);
}

/* ====================================================== */
/* TOR2E-CB-SLOT                                          */
/* ====================================================== */
.tor2e-cb-slot {
    display: flex;
    flex-direction: column;
    height: auto;
    min-width: var(--cb-slot-width) !important;
    max-width: var(--cb-slot-width) !important;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

.tor2e-cb-slot-horizontal {
    border-right: 2px solid darkgrey !important;
}
.tor2e-cb-slot-vertical {
    border-bottom: 2px solid darkgrey !important;
}

/* ====================================================== */
/* TOR2E-CB-PHOTO
/* ====================================================== */
.tor2e-cb-photo {
    object-fit: cover;
    object-position: 50% 0;
    max-width: var(--cb-slot-width)  !important;
    min-width: var(--cb-slot-width) !important;
    max-height: var(--cb-photo-size) !important;
    min-height: var(--cb-photo-size) !important;
}

.tor2e-cb-photo-container {
    position: relative;
    vertical-align: middle;
    height: var(--cb-photo-size);
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.tor2e-cb-photo-image {
    position: absolute;
}

/* ====================================================== */
/* TOR2E-CB-PHOTO-BUTTON
/* ====================================================== */
.tor2e-cb-photo-button {
    min-height: var(--cb-photo-button-size) !important;
    max-height: var(--cb-photo-button-size) !important;
    max-width: var(--cb-photo-button-size) !important;
    min-width: var(--cb-photo-button-size) !important;
    align-items: middle;
    display: flex;
    margin: 0;
    padding: 0;
    object-fit: contain;
    border: 1px solid black;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.5);
    background: var(--cb-background);
    box-shadow: 0 0 5px #000 inset;
    cursor: pointer;
}

.tor2e-cb-photo-button-img {
    border: 0;
    object-fit: cover;
    object-position: 50% 0;
    background: rgba(0, 0, 0, 0.5);
    max-width: var(--cb-photo-button-size) !important;
    min-width: var(--cb-photo-button-size) !important;
    max-height: var(--cb-photo-button-size) !important;
    min-height: var(--cb-photo-button-size) !important;
}

.tor2e-cb-photo-button-overlay {
    position: absolute;
    top: 0;
    justify-self: center;
    justify-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    width: 70px;
    max-width: 70px;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 12px;
    text-align: center;
}

.container:hover .overlay {
    opacity: 1;
}

.tor2e-cb-button:hover {
    box-shadow: 0 0 10px #939799ff inset;
    border: 1px solid #ff6400ff;
}

.tor2e-cb-button:active {
    outline: 0;
}

.tor2e-cb-photo-button-grow {
    transition: all .2s ease-in-out;
}

.tor2e-cb-photo-button-grow:hover {
    transform: scale(1.2);
    background: #6b1915;
    z-index:999;
}


/* ====================================================== */
/* TOR2E-CB-INFO
/* ====================================================== */
.tor2e-cb-info {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    max-width: var(--cb-slot-width)  !important;
    min-width: var(--cb-slot-width) !important;
    max-height: var(--cb-info-height) !important;
    min-height: 0px !important;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0;
    color:white !important;
    vertical-align:top;
}

/* ====================================================== */
/* TOR2E-CB-TABLE
/* ====================================================== */
.tor2e-cb-table-section {
    display: table;
    width: 100%;
    border: 0;
/*    border: 1px solid red;*/
    vertical-align: middle;
}

.tor2e-cb-table-row {
    display: table-row;
    border: 0;
/*    border: 1px solid blue;*/
    vertical-align: middle;
}

.tor2e-cb-table-cell-icon {
    display: table-cell;
    border: 0;
/*    border: 1px solid yellow;*/
    vertical-align: middle;
    width: 15px;
    min-width: 15px;
    max-width: 15px;
}

.tor2e-cb-table-cell-bar {
    display: table-cell;
    vertical-align: middle;
    border: 0;
/*    border: 1px solid yellow;*/
}

.tor2e-cb-table-section .line-break {
    flex-basis: 100%;
    width: 0px; 
    height: 0px; 
    overflow: hidden;
  }

/* ====================================================== */
/* TOR2E-CB-TEXT & APPROX
/* ====================================================== */
.tor2e-cb-text {
    font-family: "Sigmika", serif !important;
    font-size: small !important;
    color: white;
    text-wrap: nowrap;
    border: 0;
/*    border: 1px solid darkgreen;*/
}

.tor2e-cb-approx {
    font-size: smaller;
    color: white;
    text-wrap: nowrap;
    border: 0;
    vertical-align: text-top;
/*    border: 1px solid darkgreen;*/
}

/* ====================================================== */
/* TOR2E-CB-ICON
/* ====================================================== */
.tor2e-cb-icon {
    object-fit: cover;
    object-position: 50% 0;
    max-height: 18px;
    border: 0;
/*    border: 1px solid orange;*/
    position: relative;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}


/* ====================================================== */
/* TOR2E-CB-BAR
/* ====================================================== */
.tor2e-cb-bar-container {
    position: relative;
    vertical-align: middle;
    height: 18px !important;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.tor2e-cb-bar-fond {
    position: absolute;
    vertical-align: middle;
    height: 18px !important;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    background-color: #3a3333;
    width: 100%;
}

.tor2e-cb-bar-resource {
    position: absolute;
    vertical-align: middle;
    z-index: 9;
    height: 18px !important;
    border: 1px solid black;
}

.tor2e-cb-bar-threshold {
    position: absolute;
    vertical-align: middle;
    z-index: 10;
    height: 16px !important;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-right: 1px;
    border-style: solid;
    border-color: yellow; /*red;*/
    margin-top: 1px;
    background-color: transparent;
}

.tor2e-cb-values {
    position: absolute;
    vertical-align: middle;
    z-index: 11;
    height: 18px;
    width: 100%;
    border: 0;
    background-color: transparent;
    font-size: small;
}

.tor2e-cb-clic {
    position: absolute;
    vertical-align: middle;
    height: 18px !important;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #00000000;
    width: 100%;
    z-index: 99;
}