<div class="macrobar-settings-window">
    <form autocomplete="off" onsubmit="event.preventDefault()">
        <h2 class="macrobar-settings-header">{{localize "tor-2e-macros.communitybar-settings.titre-contenu"}}</h2>
        <ul>
            <div class="form-group">
                <label>{{localize "tor-2e-macros.communitybar-settings.players-can-see"}}</label>
                <input type="checkbox" name="players_can_see" id="players_can_see" {{players_can_see}} />
                <p class="hint">{{localize "tor-2e-macros.communitybar-settings.players-can-see-hint"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "tor-2e-macros.communitybar-settings.players-details"}}</label>
                <input type="checkbox" name="players_details" id="players_details" {{players_details}} />
                <p class="hint">{{localize "tor-2e-macros.communitybar-settings.players-details-hint"}}</p>
            </div>
        </ul>

        <div>
            <button type="submit" name="submit">
                <i class="fas fa-save"></i> Save
            </button>
        </div>
    </form>
</div>