<div class="macrobar-settings-window">
    <form autocomplete="off" onsubmit="event.preventDefault()">
        <h2 class="macrobar-settings-header">{{localize "tor-2e-macros.communitybar-settings.titre-display"}}</h2>
        <ul>
            <div class="form-group">
                <label>{{localize "tor-2e-macros.communitybar-settings.token-height"}}</label>
                <select name="token_height" id="token_height">
                    <option value="large" {{valueLarge}}>Large</option>
                    <option value="medium" {{valueMedium}}>Medium</option>
                    <option value="small" {{valueSmall}}>Small</option>
                    <option value="tiny" {{valueTiny}}>Tiny</option>
                </select>
                <p class="hint">{{localize "tor-2e-macros.communitybar-settings.token-height-hint"}}</p>
            </div>
        </ul>
        <ul>
            <div class="form-group">
                <label>{{localize "tor-2e-macros.communitybar-settings.display-mode"}}</label>
                <select name="display_mode" id="display_mode">
                    <option value="horizontal" {{displayModeHorizontal}}>Horizontal</option>
                    <option value="vertical" {{displayModeVertical}}>Vertical</option>
                </select>
                <p class="hint">{{localize "tor-2e-macros.communitybar-settings.display-mode-hint"}}</p>
            </div>
        </ul>

        <ul>
            <div class="form-group">
                <label>{{localize "tor-2e-macros.communitybar-settings.display-tooltip-position"}}</label>
                <select name="display_tooltip_position" id="display_tooltip_position">
                    <option value="LEFT" {{displayTooltipPositionGauche}}>{{localize "tor-2e-macros.communitybar-settings.display-tooltip-position-gauche"}}</option>
                    <option value="RIGHT" {{displayTooltipPositionDroite}}>{{localize "tor-2e-macros.communitybar-settings.display-tooltip-position-droite"}}</option>
                    <option value="UP" {{displayTooltipPositionHaut}}>{{localize "tor-2e-macros.communitybar-settings.display-tooltip-position-haut"}}</option>
                    <option value="DOWN" {{displayTooltipPositionBas}}>{{localize "tor-2e-macros.communitybar-settings.display-tooltip-position-bas"}}</option>
                </select>
                <p class="hint">{{localize "tor-2e-macros.communitybar-settings.display-tooltip-position-hint"}}</p>
            </div>
        </ul>

        <div>
            <button type="submit" name="submit">
                <i class="fas fa-save"></i> Save
            </button>
        </div>
    </form>
</div>