<div class="macrobar-settings-window">
    <form autocomplete="off" onsubmit="event.preventDefault()">
        <h2 class="macrobar-settings-header">{{localize "tor-2e-macros.macrobar-settings.titre-affichage"}}</h2>
        <div>
            <ul>
                <p>
                    {{localize "tor-2e-macros.macrobar-settings.activate-macrobar"}}
                    <input type="checkbox" id="macrobarActivate" name="macrobarActivate" {{macrobarActivate}} />
                </p>
                <p>
                    {{localize "tor-2e-macros.communitybar-settings.activate-communitybar"}}
                    <input type="checkbox" id="communitybarActivate" name="communitybarActivate" {{communitybarActivate}} />
                </p>                
                <p>
                    {{localize "tor-2e-macros.macrobar-settings.activate-foundry-hotbar"}}
                    <input type="checkbox" id="foundrybarActivate" name="foundrybarActivate" {{foundrybarActivate}} />
                </p>
            </ul>
        </div>
        <div>
            <button type="submit" name="submit">
                <i class="fas fa-save"></i> Save
            </button>
        </div>
    </form>
</div> 