<div class="macrobar-settings-window">
    <form autocomplete="off" onsubmit="event.preventDefault()">
        <h2 class="macrobar-settings-header">{{localize "tor-2e-macros.macrobar-settings.titre-contenu"}}</h2>
        <ul>
            <div class="form-group">
                <label>{{localize "tor-2e-macros.macros-group.tokens"}}</label>
                <input type="checkbox" name="macrobarGroupTokens" id="macrobarGroupTokens" {{macrobarGroupTokens}} />
                <p class="hint">{{localize "tor-2e-macros.macros-group.tokens-hint"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "tor-2e-macros.macros-group.messages"}}</label>
                <input type="checkbox" name="macrobarGroupMessages" id="macrobarGroupMessages" {{macrobarGroupMessages}} />
                <p class="hint">{{localize "tor-2e-macros.macros-group.messages-hint"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "tor-2e-macros.macros-group.eye"}}</label>
                <input type="checkbox" name="macrobarGroupEye" id="macrobarGroupEye" {{macrobarGroupEye}} />
                <p class="hint">{{localize "tor-2e-macros.macros-group.eye-hint"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "tor-2e-macros.macros-group.reports"}}</label>
                <input type="checkbox" name="macrobarGroupReports" id="macrobarGroupReports" {{macrobarGroupReports}} />
                <p class="hint">{{localize "tor-2e-macros.macros-group.reports-hint"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "tor-2e-macros.macros-group.health"}}</label>
                <input type="checkbox" name="macrobarGroupHealth" id="macrobarGroupHealth" {{macrobarGroupHealth}} />
                <p class="hint">{{localize "tor-2e-macros.macros-group.health-hint"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "tor-2e-macros.macros-group.dice-roll"}}</label>
                <input type="checkbox" name="macrobarGroupDiceRolls" id="macrobarGroupDiceRolls" {{macrobarGroupDiceRolls}} />
                <p class="hint">{{localize "tor-2e-macros.macros-group.dice-roll-hint"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "tor-2e-macros.macros-group.characters"}}</label>
                <input type="checkbox" name="macrobarGroupCharacters" id="macrobarGroupCharacters" {{macrobarGroupCharacters}} />
                <p class="hint">{{localize "tor-2e-macros.macros-group.characters-hint"}}</p>
            </div>
        </ul>

        <div>
            <button type="submit" name="submit">
                <i class="fas fa-save"></i> Save
            </button>
        </div>
    </form>
</div>