<div class="macrobar-settings-window">
    <form autocomplete="off" onsubmit="event.preventDefault()">
        <h2 class="adv-sheets-settings-header">{{localize "tor-2e-macros.adversary-sheets-settings.titre-settings"}}</h2>
        <ul>
            <div class="form-group">
                <label>{{localize "tor-2e-macros.adversary-sheets-settings.adv-sheet-scale"}}</label>
                <input type="range" name="adv_sheet_Echelle" id="adv_sheet_Echelle" min="0.5" max="2.0" step="0.05" value="{{adv_sheet_Echelle}}" oninput="rangeValue.innerText = this.value" />
                &nbsp;<p id="rangeValue" style="border: 1px solid black; width: 40px; max-width: 40px; text-align: center;">{{adv_sheet_Echelle}}</p>
                <p class="hint">{{localize "tor-2e-macros.adversary-sheets-settings.adv-sheet-scale-hint"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "tor-2e-macros.adversary-sheets-settings.adv_OnlyOneSheet"}}</label>
                <input type="checkbox" name="adv_sheet_OnlyOne" id="adv_sheet_OnlyOne" {{adv_sheet_OnlyOne}} />
                <p class="hint">{{localize "tor-2e-macros.adversary-sheets-settings.adv_OnlyOneSheet-hint"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "tor-2e-macros.adversary-sheets-settings.adv_SheetSamePosition"}}</label>
                <input type="checkbox" name="adv_sheet_SamePosition" id="adv_sheet_SamePosition" {{adv_sheet_SamePosition}} />
                <p class="hint">{{localize "tor-2e-macros.adversary-sheets-settings.adv_SheetSamePosition-hint"}}</p>
            </div>
        </ul>

        <div>
            <button type="submit" name="submit">
                <i class="fas fa-save"></i> Save
            </button>
        </div>
    </form>
</div>
