<form autocomplete="off" onsubmit="event.preventDefault()">
    <div>
        <h2 class="macrobar-settings-header">{{localize "tor-2e-macros.health-reports-settings.titre-settings"}}</h2>
        <table style='border: 0;'>
            <tr style='margin: 1em;'>
                <td>
                    {{localize "tor-2e-macros.health-reports-settings.style-character-name"}}
                    <input type="checkbox" id="health_reports_style_character" name="health_reports_style_character"
                        {{health_reports_style_character}} />
                        <p class="hint">{{localize "tor-2e-macros.health-reports-settings.style-character-name-hint"}}</p>
                </td>
                <td>
                    <img src="modules/tor-2e-macros/images/reports_name_or_token.webp" style="max-width: 200px;">
                </td>
            </tr>
            <tr>
                <td>
                    {{localize "tor-2e-macros.health-reports-settings.vertical-bar"}}
                    <input type="checkbox" id="health_reports_vertical_bar" name="health_reports_vertical_bar"
                        {{health_reports_vertical_bar}} />
                        <p class="hint">{{localize "tor-2e-macros.health-reports-settings.vertical-bar-hint"}}</p>
                </td>
                <td>
                    <img src="modules/tor-2e-macros/images/reports-vertical-red-bar.webp" style="max-width: 200px;">
                </td>
            </tr>
            <tr>
                <td>
                    {{localize "tor-2e-macros.health-reports-settings.theme"}}
                    <input type="checkbox" id="health_reports_theme" name="health_reports_theme"
                        {{health_reports_theme}} />
                        <p class="hint">{{localize "tor-2e-macros.health-reports-settings.theme-hint"}}</p>
                </td>
                <td>
                    <img src="modules/tor-2e-macros/images/reports_theme.webp" style="max-width: 200px;">
                </td>
            </tr>
        </table>
    </div>
    <div>
        <button type="submit" name="submit">
            <i class="fas fa-save"></i> Save
        </button>
    </div>
</form>