<form>
	<section class="content" style="flex-direction: column;">
		<div class="tor2e-cb-vertical">
			<div class="tor2e-cb-slot tor2e-cb-slot-vertical">
				<div class="tor2e-cb-photo">
					{{{community_photo}}}
				</div>
				<div class="tor2e-cb-info">
					{{{community_info}}}
				</div>
			</div>
			{{#each characters}}
			<div class="tor2e-cb-slot tor2e-cb-slot-vertical">
				<div class="tor2e-cb-photo">
					{{{character_photo}}}
				</div>
				<div class="tor2e-cb-info">
					{{{character_info}}}
				</div>
			</div>
			{{/each}}
		</div>
	</section>
</form>