<script>
	// 3 display modes : saved => max => min
	var typeDisplay = "saved";

	function switchDisplay() {
		let groupTokens = game.settings.get("tor-2e-macros", "Macro-Bar-Tokens");
		let groupMessages = game.settings.get("tor-2e-macros", "Macro-Bar-Messages");
		let groupEye = game.settings.get("tor-2e-macros", "Macro-Bar-Eye");
		let groupReports = game.settings.get("tor-2e-macros", "Macro-Bar-Reports");
		let groupHealth = game.settings.get("tor-2e-macros", "Macro-Bar-Health");
		let groupDiceRolls = game.settings.get("tor-2e-macros", "Macro-Bar-DiceRolls");
		let groupCharacters = game.settings.get("tor-2e-macros", "Macro-Bar-Characters");

		let settingDisplay_tokens = game.settings.get("tor-2e-macros", "groupBar-tokens");
		let settingDisplay_message = game.settings.get("tor-2e-macros", "groupBar-message");
		let settingDisplay_oeil = game.settings.get("tor-2e-macros", "groupBar-oeil");
		let settingDisplay_infos = game.settings.get("tor-2e-macros", "groupBar-infos");
		let settingDisplay_sante = game.settings.get("tor-2e-macros", "groupBar-sante");
		let settingDisplay_des = game.settings.get("tor-2e-macros", "groupBar-des");
		let settingDisplay_pjs = game.settings.get("tor-2e-macros", "groupBar-pjs");

		if (typeDisplay === "saved") {
			// SAVED : We switch to max
			if (groupTokens) {
				document.getElementById('bar-tokens').style.display = "flex";
			}
			if (groupMessages) {
				document.getElementById('bar-message').style.display = "flex";
			}
			if (groupEye) {
				document.getElementById('bar-oeil').style.display = "flex";
			}
			if (groupReports) {
				document.getElementById('bar-infos').style.display = "flex";
			}
			if (groupHealth) {
				document.getElementById('bar-sante').style.display = "flex";
			}
			if (groupDiceRolls) {
				document.getElementById('bar-des').style.display = "flex";
			}
			if (groupCharacters) {
				document.getElementById('bar-pjs').style.display = "flex";
			}

			typeDisplay = "max";

		} else if (typeDisplay === "max") {
			// MAX : We switch to min
			if (groupTokens) {
				document.getElementById('bar-tokens').style.display = "none";
			}
			if (groupMessages) {
				document.getElementById('bar-message').style.display = "none";
			}
			if (groupEye) {
				document.getElementById('bar-oeil').style.display = "none";
			}
			if (groupReports) {
				document.getElementById('bar-infos').style.display = "none";
			}
			if (groupHealth) {
				document.getElementById('bar-sante').style.display = "none";
			}
			if (groupDiceRolls) {
				document.getElementById('bar-des').style.display = "none";
			}
			if (groupCharacters) {
				document.getElementById('bar-pjs').style.display = "none";
			}

			typeDisplay = "min";

		} else if (typeDisplay === "min") {
			// MIN : We switch to flex
			if (groupTokens) {
				if (settingDisplay_tokens) {
					document.getElementById('bar-tokens').style.display = "flex";
				} else {
					document.getElementById('bar-tokens').style.display = "none";
				}
			}
			if (groupMessages) {
				if (settingDisplay_message) {
					document.getElementById('bar-message').style.display = "flex";
				} else {
					document.getElementById('bar-message').style.display = "none";
				}
			}
			if (groupEye) {
				if (settingDisplay_oeil) {
					document.getElementById('bar-oeil').style.display = "flex";
				} else {
					document.getElementById('bar-oeil').style.display = "none";
				}
			}
			if (groupReports) {
				if (settingDisplay_infos) {
					document.getElementById('bar-infos').style.display = "flex";
				} else {
					document.getElementById('bar-infos').style.display = "none";
				}
			}
			if (groupHealth) {
				if (settingDisplay_sante) {
					document.getElementById('bar-sante').style.display = "flex";
				} else {
					document.getElementById('bar-sante').style.display = "none";
				}
			}
			if (groupDiceRolls) {
				if (settingDisplay_des) {
					document.getElementById('bar-des').style.display = "flex";
				} else {
					document.getElementById('bar-des').style.display = "none";
				}
			}
			if (groupCharacters) {
				if (settingDisplay_pjs) {
					document.getElementById('bar-pjs').style.display = "flex";
				} else {
					document.getElementById('bar-pjs').style.display = "none";
				}
			}

			typeDisplay = "saved";
		}
	}
</script>
<form>
	<section class="content">
		<div class="tor2e-macrobar">
			<div class="tor2e-macrobar-macrogroup" style="border: 0 !important; margin: 0 !important;">
				<div class="tor2e-macrobar-sousbar" style="border: 0 !important;">
					{{{fold_unfold}}}
				</div>
			</div>
			{{#each macrogroups}}
			<div class="tor2e-macrobar-macrogroup">
				<span class="tor2e-macrobar-macrogroup-title"
					onClick="let disp=document.getElementById('bar-{{{contentgroup}}}').style.display;if(disp==='none') {document.getElementById('bar-{{{contentgroup}}}').style.display='flex';game.tor2eMacros.macrobar.macrobarForm.update_Pliage('{{{contentgroup}}}','deplier');} else {document.getElementById('bar-{{{contentgroup}}}').style.display='none';game.tor2eMacros.macrobar.macrobarForm.update_Pliage('{{{contentgroup}}}','plier');};">{{{contentgroupName}}}</span>
				<div id="bar-{{{contentgroup}}}" {{{displayBar}}} class="tor2e-macrobar-sousbar">
					{{{contentbar}}}
				</div>
			</div>
			{{/each}}
		</div>
	</section>
</form>